html {
    scroll-behavior: smooth;
}

body {
    display: block;
    overflow-x: hidden !important;
    font-family: 'Mulish', sans-serif;
    color: #55606e;
}


/* General */

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px !important;
    margin: 0 auto;
}


/* Navigation and main */

.cover {
    background: url(../img/guitar-2623782_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(13, 29, 13, 0.6);
    width: 100%;
    height: 100vh;
    min-height: 650px;
}

.nav li {
    display: inline-block;
    margin: 15px;
}

.nav li a,
.hideMenu {
    color: #ffffff;
    font-size: 1em;
    padding: 10px;
    font-weight: bold;
}

.hideMenu {
    font-size: 1.5em;
    text-align: right;
}

.nav li a:hover {
    color: #b6b6b6;
    text-decoration: none;
    transition: all ease .5s;
}

.active {
    color: #b6b6b6 !important;
}

#mySidenav,
.hideMenu {
    display: none;
}

.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .5s;
}

.sidenav a {
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    display: block;
    transition: .3s;
}

.sidenav a:hover {
    color: #b6b6b6;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main-text {
    color: #ffffff;
    text-shadow: black 2px 3px;
    font-weight: 700;
    position: absolute;
    top: 30%;
    padding-right: 0;
    width: 90%;
}

.main-h1 {
    font-size: 4.5em;
    width: 80%;
    text-align: left;
    font-weight: 700;
}

.main-h2 {
    font-size: 2em;
    text-align: left;
    width: 60%;
}

.animate-pop-in {
    animation: pop-in .7s ease-out forwards;
}


/* Animations */

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}


/* Courses */

#courses {
    background-color: #ecececd7;
    height: auto;
    padding-top: 5%;
}

.card {
    box-shadow: 10px 10px 12px rgba(0, 0, 0, .37) !important;
    border: 0;
}

.cus-height {
    max-height: 600px;
}

.less {
    max-height: 570px;
}

.cuscards {
    margin: 0 auto !important;
    padding: 0;
}

.mt-lg-8 {
    margin-top: 4.5rem;
}

.card img {
    height: 360px;
    border-radius: .25rem;
    overflow: hidden;
    object-fit: cover;
}

.btn {
    background-color: #5a8359 !important;
    border: 1px solid #5a8359 !important;
}

.btn:hover {
    background-color: #3d5a3d !important;
}


/* About Me */

svg {
    background-color: #ecececd7;
}

#about-me {
    background-color: rgba(13, 29, 13, .9);
    min-height: auto;
}

.about-con {
    display: flex;
}

.img-about {
    flex: 1;
}

.reverse {
    flex-direction: row-reverse;
}

.img-about img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 15px;
    overflow: hidden;
    object-fit: cover;
}

.text-about {
    flex: 2;
    color: #ffffff;
    max-width: 600px;
    text-align: justify;
    margin-top: 15px;
    margin-left: 50px;
}

.cursive {
    font-family: 'Grandstander', cursive;
    font-size: 2.5em;
}

.about {
    font-size: 1.15em;
}


/* Pricelist */

#pricelist {
    background-color: #ecececd7;
    padding-bottom: 5%;
}

.price {
    text-align: center;
}

.price-cards {
    display: flex;
}

.price1 {
    flex: 1;
    margin: 25px;
    text-align: center;
    font-size: 1.2em;
}

.centered {
    text-align: center;
    background: url(../img/price1.jpg) no-repeat center;
    background-size: cover;
    border-radius: .25rem;
    color: #ffffff;
    font-size: 5.5em;
    height: 200px;
    line-height: 200px;
    text-shadow: black 2px 3px;
    font-weight: bold;
    box-shadow: inset 0 0 0 2000px rgba(13, 29, 13, 0.6);
}

.cen2 {
    background: url(../img/price2.jpg) no-repeat center;
    background-size: cover;
}

.price2 {
    flex: 1;
    margin: 25px;
    text-align: center;
    font-size: 1.2em;
}

.classroom {
    text-align: center;
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 0;
}


/* References */

#references {
    background: #203120 url(../img/refer.jpg) no-repeat center;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(13, 29, 13, 0.6);
    background-attachment: fixed;
    min-height: 650px;
    padding: 40px;
    color: #ffffff;
}

.carousel-item {
    text-align: center;
}

.testimonial-text {
    color: #ffffff;
}

.carousel-item {
    padding: 7% 17%;
}


/* Course Details */

#courses-details {
    background-color: #ecececd7;
    max-height: 100%;
    padding: 4%;
}

.course-guitar-section,
.course-piano-section,
.course-online-section {
    padding: 1%;
    color: #6f6985;
    height: auto !important;
}

.course-guitar-section h2,
.course-piano-section h2,
.course-online-section h2 {
    color: #1e1835;
}

.list-unstyled i {
    color: #5a8359 !important;
}

.border-top {
    border-top: 3px solid #5a8359 !important;
}

.bg-cover {
    background: no-repeat center center/cover;
}


/* Contact Form */

#contact-form {
    background: url(../img/contact-form.jpeg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(13, 29, 13, 0.6);
    color: #ffffff;
    text-align: center;
    min-height: 500px;
}

#contact-form h2 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    padding-top: 9%;
    padding-bottom: 3%;
    margin-bottom: 0;
}

.contact-flex {
    display: flex;
}

.icon-cont {
    font-size: 1.8em;
    font-weight: 700;
    padding: 3% 10%;
}

.icon-cont a {
    color: #fff;
    text-decoration: none;
}

.fz-custom {
    font-size: 2.3em !important;
}


/* Footer */

.footer {
    background-color: #141f14;
    color: #ffffff;
}

.column-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: 20px;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.container-nav {
    grid-column: 1 / 2;
    font-size: 1.05em;
    text-transform: uppercase;
}

.container-nav a {
    color: #ffffff;
    line-height: 1.5em;
}

.container-social {
    grid-column: 2 / 3;
    line-height: 120px;
}

.container-nav ul,
.container-social ul {
    padding-left: 0;
}

.container-contactinfo {
    grid-column: 3 / 4;
    font-size: 1.2em;
}

.container-social li {
    display: inline-block;
}

.container-social a {
    font-size: 1.8em;
    color: #ffffff;
    padding: 10px;
}

.container-social a:hover,
.container-nav a:hover {
    color: #9e9e9e;
    transition: all ease 0.5s;
    text-decoration: none;
}

.container-contactinfo .phone {
    font-weight: bold;
    font-size: 1.8em;
    color: #588157;
    margin-bottom: 0;
}

.author {
    font-size: .8em;
    text-align: right;
    color: #9e9e9e;
}

.author-ae {
    margin-bottom: 0;
    padding: 0 0 10px;
    line-height: .4em;
}


/* Media Queries */

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        overflow-x: hidden !important;
    }
    .container-contactinfo .phone {
        font-size: 1em;
        padding-bottom: 3%;
    }
    .price {
        padding: 5%;
    }
    .icon-cont {
        padding: 3% 8%;
    }
}

@media (min-width: 300px) and (max-width: 480px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        width: 95%;
        padding: 0;
    }
    .about-con {
        flex-wrap: wrap;
    }
    .main-h1 {
        font-size: 2em;
        width: 90%;
    }
    .main-h2 {
        font-size: 1.7em;
        width: 80%;
    }
    .card-block {
        margin: 0 auto;
    }
    .card-block img {
        height: 250px;
    }
    .pon-kurz {
        text-align: center;
    }
    #courses {
        padding-bottom: 1%;
    }
    .img-about {
        text-align: center;
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
    .text-about {
        display: initial;
        text-align: left;
    }
    .centered {
        font-size: 2.8em;
        line-height: 200px;
    }
    .column-grid {
        display: block;
    }
    .text-about {
        margin: 5px 10px;
    }
    .text-about p,
    .classroom p,
    .text-details p {
        font-size: 1em;
    }
    #pricelist {
        padding-bottom: 12%;
    }
    .price1,
    .price2 {
        margin: 5px;
    }
    .price {
        padding-bottom: 4%;
    }
    .card-text {
        font-size: 0.8em;
        padding: 2px 12px;
    }
    .card-body {
        padding: 5px !important;
    }
    #references {
        min-height: auto;
    }
    .testimonial-text {
        font-size: 1.1em;
    }
    .carousel-item {
        padding: 7%;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 4% !important;
    }
    .card-body-p {
        padding: 2% 4% !important;
    }
    .text-details {
        margin: 0 10px;
        text-align: left;
    }
    .contact-flex {
        display: block;
    }
    .icon-cont {
        font-size: 1.8em;
        padding: 8%;
    }
    .fz-custom {
        font-size: 2.2em !important;
    }
    .row-custom {
        overflow-x: hidden !important;
    }
    .container-nav ul,
    .container-social ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    .container-nav ul {
        padding-top: 3%;
    }
    .container-contactinfo p {
        margin-bottom: 5px;
        font-size: .8em;
    }
    .container-contactinfo .phone {
        font-size: 1.1em;
        padding-bottom: 3%;
    }
}

@media (min-width: 300px) and (max-width: 560px) {
    #mySidenav,
    .hideMenu {
        display: block;
    }
    .hidenav {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        overflow-x: hidden !important;
    }
    .about-con {
        flex-wrap: wrap;
    }
    .main-h1 {
        font-size: 2.8em;
        width: 90%;
    }
    .main-h2 {
        font-size: 2.3em;
        width: 80%;
    }
    .card-block {
        margin: 0 auto;
    }
    #courses {
        padding-bottom: 2%;
    }
    .card-block img {
        height: 250px;
    }
    #courses .card-body {
        padding: 5px !important;
    }
    #references {
        min-height: auto;
    }
    .testimonial-text {
        font-size: 1.8em;
    }
    .carousel-item {
        padding: 7%;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 4% !important;
    }
    .img-about {
        text-align: center;
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
    .text-about {
        display: initial;
        text-align: left;
    }
    .centered {
        font-size: 3.5em;
        line-height: 200px;
    }
    .text-about {
        margin: 5px 10px;
    }
    .card-text {
        font-size: 1em;
        padding: 2px 12px;
    }
    .price1,
    .price2 {
        margin: 12px;
    }
    .price {
        padding-bottom: 4%;
    }
    .classroom {
        padding: 5%;
    }
    .column-grid {
        display: block;
    }
    .contact-flex {
        display: block;
    }
    .icon-cont {
        padding-bottom: 8%;
    }
    .container-nav ul,
    .container-social ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    .container-nav ul {
        padding-top: 3%;
    }
    .container-contactinfo p {
        margin-bottom: 5px;
        font-size: .8em;
    }
    .container-contactinfo .phone {
        font-size: 1.1em;
        padding-bottom: 3%;
    }
}